* {
    margin: 0;
}

a {
    color: white;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between
}

.top-content {
    background-color: #454d59;
}

