* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

a {
    color: white;
}

header {
    background-color: #1F2937;
}



.header-content {
    color: white;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.header-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
   
}

.logo {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-left button {
    height: 25px;
    width: 100px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
}

.links {
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.box {
    align-self: flex-end;
    background-color: #5b6572;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

button {
    background-color: rgb(30, 60, 119);
    color: white;
}


.main-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

li {
    width: 100px;
}

.square-box {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.looks-nice {
    background-color: #a0a4a9;
    padding: 40px 100px;
    flex: 1;
}

.push-right {
    text-align: end;
    font-weight: bold;
}

.newsletter {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 20px 50px;
}

footer {
    margin-top: 30px;
    background-color: #1F2937;
    padding: 20px;
    color: white;
    text-align: center;
}

